<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
    
<title>RT6 Coding Task</title>

</head>
<body>
	<!--  Welcome message -->
	<div class = "center">
		<p class = "title">Welcome to the programming task</p>
		
		<p class = "format">Please, press <strong>CONTINUE</strong> when ready.</p>
	</div>
	
	<!-- Continue -->
	<div class = "center">
		<a href = "/usersList"> CONTINUE </a>
	</div>


</body>
</html>