<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
    
<title>photosList</title>
</head>
<body>


	<div class = "center">
	 
		<p class = "title">PHOTO</p>
		<p class = "format">Update your photo values</p>		
		<hr>
	</div>
	<div class = "center">
		   	
		<img th:src="${photo.Url}" alt="${photo.title}" height="100">
		<img th:src="${photo.thumbnailUrl}" alt="${photo.title}" height="50">
		<p class = "tumbnail"><span th:text="${photo.title}" th:remove="tag"></span></p>
	
	</div>
	
	<hr>
	<div class = "center">
		<form th:action="@{/photoUpdate}" th:object="${photo}" method="post">
		<input type="hidden" th:field="*{id}" id="id">
		<input type="hidden" th:field="*{albumId}" id="albumId">
			<div class="form-group">
				<div class="rows">
					<div class="cols">
				        <label class = "format">URL</label>
				        </div>
				     <div class="cols">
				        <input type="text" class="form-control" name="url" th:field="*{url}" size="100" />
				    </div>
			    </div>
			    <div class="rows">
				    <div class="cols">
				        <label class = "format">THUMBNAIL URL</label>
				        </div>
				     <div class="cols">
				        <input type="text" class="form-control" name="thumbnailUrl" th:field="*{thumbnailUrl}" size="100" />
			    	</div>
			    </div>
			</div>			
			<div class="rows">
		 		<div class="cols">
	          		<label class = "format">TITLE</label>
	          	</div>
	           <div class="cols">	
	          		<input type="text" class="form-control" name="title" th:field="*{title}" size="100" />
	          	</div>
	        </div>		
		    <button type="submit" class="btn btn-default">Update</button>
		</form>

	</div>
	
	<div class = "center">
			
		<hr>		
		<form th:action="@{/photosList/} + ${photo.albumId}">
		    <input type="submit" value="Return to photos" />
		</form>
		<br>
		<form th:action="@{/usersList}">
		    <input type="submit" value="Home" />
		</form>
	</div>

</body>
</html>